html {
    margin: 0;
    padding: 0;
    height: 100%; /* Stelle sicher, dass der gesamte HTML- und Body-Bereich 100% der Höhe haben */
    font-family: Arial, Helvetica, sans-serif;
}

/* #Naviagtion */

.navBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #abd5c0;
    justify-content: flex-start;
    max-width: 8%;
    height: 100%;
    overflow-y: auto;
}
.navBar > .navItem {
    display: flex;
    margin: 2% ;
    padding: 3%;
    line-height: 200%;
    cursor:pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.navBar > .navItem:hover {
    background-color: #33593d36;
}

.navItem > span {
    font-size: 20px;
}

/* #Icons */

.navItem > img {
    width: 45%;
}

/* #Content */

.content-block {
    background-color:rgba(217, 231, 220, 0.473);
    margin-left: 9%;
    width: 100%;
    padding: 2%;
    min-height: 100%;
}
.info {
    background-color: lightgray;
}

/* #Project4 */

img.flowchart {
    height: 70%;
    width: 70%;
}
img.flowchart2 {
    height: 80%;
    width: 80%;
}