html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Stelle sicher, dass der gesamte HTML- und Body-Bereich 100% der Höhe haben */
    font-family: Arial, Helvetica, sans-serif;
}

.headline {
    margin-left: 10%; 
    padding: 1%;
    background-color: #abd5c0; 
    text-align: center;
}

.about-me {
    position: relative;
    left: 25%;
    font-size: 20px;
    text-align: center;
    width: 50%;
    padding: 0.1%;
    background-color: #e2dee5;
    border-radius: 25px 15px;
}

/* #Naviagtion */
.navBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #abd5c0;
    justify-content: flex-start;
    max-width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.navBar > .navItem {
    display: flex;
    margin: 2% ;
    padding: 3%;
    line-height: 200%;
    cursor:pointer;
    flex-direction: column;
    align-items: center;
}
.navBar > .navItem:hover {
    background-color: #33593d36;
}

.navItem > span {
    font-size: 20px;
    text-align: center;
}   


/* #Icons */
.navItem > img {
    width: 45%;
}

/* #Content */
.content-block {
    background-color: rgba(217, 231, 220, 0.473);
    margin-left: 10%; 
    padding: 2%;
    min-height: 100%;
}
.content-block > h2 {
    position: relative;
    left: 2%;
}
.info-container {
    display: flex;
    align-items: baseline;
    gap: 15%;
}
.info {
    width: 60%;
    margin: 1%;
    font-size: 20px;    
    background-color: #e2dee5;
    padding: 0.3% 1% 0.3% 1%;
    text-align: justify;
    line-height: 1.2;
    border-radius: 15px 25px;
}
.attributes{
    background-color: #e2dee5;
    width: 40%;
    margin: 1%;
    line-height:1.3;
    border-radius: 25px 15px;
}

.attributes h2 {
    text-align: center;
    padding-bottom: 1%;    
    border-bottom: 3px dashed grey;
}

.attributes > table {
    padding: 2%;
    width: 100%; 
}

.attributes tr > th {
    text-align: right;
}
.attributes tr > td {
    padding-left: 2%;
}

/* Rating */
.attributes.rating {
    line-height: 2;
    width: 20%;
    
}
.attributes.rating > table {
 width: 100%
}

.attributes.rating tr > td {
 display: flex;
 flex-direction: row;  
}

.rating-block{
 width: 100%; 
 height: 25px; 
 margin-right: 5px;
 box-sizing: border-box; 
}

.rating-block.full {
 background-color: black; 
 border: 2px solid black; 
}

.rating-block.empty {
 background-color: transparent; 
 border: 2px solid black;
}


/* #Project4 */
img.flowchart {
    height: 70%;
    width: 70%;
}
img.flowchart2 {
    height: 80%;
    width: 80%;
}